{% load staticfiles %}
<!DOCTYPE HTML>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport content" = "width-device-width, inital-scale=1.0">
	<link rel="stylesheet" href="{% static 'clotheProject/stylesheet.css' %}" type="text/css">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<title> Community </title>
</head>

<body class="body">
	<header class="mainHeader">
			<nav class="navbar navbar-default" role="navigation">
				<div>
					<ul class="nav navbar-nav">
						<li class ="active">
							<a href="{% url 'clotheProject:home' %}">Home</a>
						</li>
						{% if user.is_authenticated %}
						<li><a href="{% url 'clotheProject:logout' %}">Logout</a></li>
						<li><a href="{% url 'clotheProject:user_profile' %}">Profile</a></li>
						{% else %}
						<li><a href="{% url 'clotheProject:register' %}">Register</a></li>
						<li><a href="{% url 'clotheProject:login' %}">Login</a></li>
						{% endif %}
					</ul>
				</div>
			</nav>
		<div class="divLine">
		</div>
	</header>
		<div class="container-fluid">
			<h1>Community</h1>
		</div>

		<!-- <div class="containter-fluid" id="mainContent">
			<div class="container" id="content">
				<h3> Active Posts </h3>
				<h1> ----------------- </h1>
				{% for post in posts%}
				<article id="topContent">
				    <div>
				        <h1>{{ post.title }}</h1>
				        <p>{{ post.body|linebreaks }}</p>
				        <p>{{post.description}}</p>
				        <p>published: {{ post.timestamp}}</p>
				{% endfor %}
				{% for i in objects %}
						<p>{{ i.name }}</p>
						<p>{{ i.quantity }}</p>
						<p>{{ i.claimed }}</p>
				{% endfor %}
						<div class='div-line' id='mH-div-line'>
						</div>
				    </div>
					</div>
					<div class="container-fluid" id='commentDiv'>
						<form id='comment_form' method='post'>
							{% csrf_token %}
							{{form.as_p}}
							{{object_form.as_p}}
							  <input type="submit" name="submit" value="Add Post" />
       					 </form>
       				</div>
					<h1> ----------------- </h1>
				</article> -->

			</div>
		</div>

<footer class="mainFooter">
	<nav class="navbar navbar-default" role="navigation">
		<ul class="nav navbar-nav">
			<li class ="active">
			<li><a href="{% url 'clotheProject:home' %}">Home</a></li>
			<li><a href="{% url 'clotheProject:register' %}">Register</a></li>
			<li><a href="{% url 'clotheProject:login' %}">Login</a></li>
			<p id="copyright">Copyright &copy;2015 Community</p>
			<style>
			#copyright {
				padding: 13px;
			}
		</ul>
</footer>
</body>
</html>
