{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
    	<meta name="viewport content" = "width-device-width, inital-scale=1.0">
    	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    	<title> clotheProject profile</title>
        <!-- Is anyone getting tired of repeatedly entering the header over and over?? -->
    </head>

    <body class="body">
        {% if profile %}
        <a href="{% url 'users:logout' %}"><h1>Logout</h1></a>
        <div class="panel panel-default">
          <!-- Default panel contents -->
          <div class="panel-heading">User</div>
          <div class="panel-body">
            <h1>User: {{ profile.user.username }}</h1>
          </div>

          <!-- Table -->
          <table class="table">
              <thead>
                <th>Likes: {{ profile.likes }}</th>
                <th>Dislikes: {{ profile.dislikes }}</th>
                {% for num in user.favorite.items.all %}
                <th scope="row">{{num}}</th>
                    {% for name in user.favorites.items.all %}
                    <td>{{name}}</td>
                    <td>{{price}}</td>
                    <td>{{description}}</td>
                    {% endfor %}
                {% endfor %}
            </thead>
            <!-- <tbody>
                {% for num in user.favorite.items.all %}
                <tr>
                    <th scope="row">{{num}}</th>
                    {% for name in user.favorites.items.all %}
                    <td>{{name}}</td>
                    <td>{{price}}</td>
                    <td>{{description}}</td>
                    {% endfor %}
                {% endfor %}
                </tr>
            </tbody> -->
          </table>
        </div>
        {% endif %}
