{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
    	<meta name="viewport content" = "width-device-width, inital-scale=1.0">
    	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    	<title> clotheProject profile</title>
        <!-- Is anyone getting tired of repeatedly entering the header over and over?? -->
    </head>

    <body class="body">
        {% if profile %}
        <a href="{% url 'users:logout' %}"><h1>Logout</h1></a>
    	<article id="topContent">
    		<div>
    			<h1>User: {{ profile.user.username }}</h1>
    			<h1>Likes: {{ profile.likes }}</h1>
    			<h1>Dislikes: {{ profile.dislikes }}</h1>
    			<h1>Favorites:{% for name in profile.favorites.all %} {{ name }} {% endfor %}</h1>
                {% if profile.photo %}
                <h1>Photo: </h1> <img src="{{ MEDIA_URL }}{{profile.photo.url}}" alt= <h1>N/A</h1></>
                {% endif %}
        </article>
    	<h1> --------------- </h1>
    	</header>
        {% endif %}
