{% load staticfiles %}
<!DOCTYPE HTML>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport content" = "width-device-width, inital-scale=1.0">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<title> Community </title>
</head>

<body class="body">
    {% for users in users %}
	<article id="topContent">
		<div>
			<h1>User: {{ users.user.username }}</h1>
			<h1>Likes: {{ users.likes }}</h1>
			<h1>Dislikes: {{ users_view.dislikes }}</h1>
			<h1>Favorites:{% for name in users.favorites.all %} {{ name }}</h1>
			<h1>Photo: {{ users.photo }}</h1>
	</article>
	<h1> --------------- </h1>
    {% endfor %}

</body>
</html>
