{% load staticfiles %}
<!DOCTYPE HTML>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport content" = "width-device-width, inital-scale=1.0">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<title> Community </title>
</head>

<body class="body">
	{% for user in users%}
	<article id="topContent">
		<div>
			<h1>User: {{ user.user.username }}</h1>
			<h1>Likes: {{ user.likes }}</h1>
			<h1>Dislikes: {{ user.dislikes }}</h1>
            <h3> Favorites is broken.  Not registering<b>
                item values in UserProfile table</h1>
			<h1>Favorites: {{ user.favorites.name }}</h1>
			<h1>Photo: {{ user.photo }}</h1>
	</article>
	<h1> --------------- </h1>
	{% endfor %}

</body>
</html>
