{% load staticfiles %}
<!DOCTYPE HTML>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport content" = "width-device-width, inital-scale=1.0">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<title> Community </title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script type="text/javascript">
		var csrftoken = $("input[name=csrfmiddlewaretoken]").val();
		$(document).on('submit', '#add_favorite_form',function(e){
        	e.preventDefault();
        	var itemId= $(e.target).data('itemid');  // jquery +1.4.3 or attr()
        	$.ajax({
	            type: "POST",
	            url: "/items/favorites/",
	            data: {
	                id: itemId,
	                csrfmiddlewaretoken: csrftoken
	            },
	            success: function(){
	                alert("Added favorite " + itemId);
	            }
	        });
	    });

	</script>
	<style>

		/* http://css-tricks.com/perfect-full-page-background-image/ */
		html {
			/*background: url(images/galaxy_pocket_tees.jpg) no-repeat center center fixed;
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;*/
		}

		body {
			/*padding-top: 100px;
			font-size: 16px;
			font-family: "Open Sans",serif;
			background: transparent;*/
		}

		h1 {
			font-family: "Abel", Arial, sans-serif;
			font-weight: 600;
			font-size: 40px;
		}
		.row {
			padding-left: 20px;
		}


	</style>
</head>

<body class="body">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/register/">ClotheProject</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Items<span class="sr-only">(current)</span></a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Site <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <!-- <li><a href="register">Home</a></li> -->
                <li><a href="/items/">Items</a></li>
				{% if user %}
				<li><a href="/users/profile/">Profile</a></li>
				{% else %}
                <li><a href="/users/login/">Login   <span class="glyphicon glyphicon-user" aria-hidden="true"></span></a></li>
                <li role="separator" class="divider"></li>
				{% endif %}
                <li role="" class="divider"></li>
                <li><a href="/users/logout/">Logout</a></li>
              </ul>
            </li>
          </ul>
          <!-- <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form> -->
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
	<div class="row">
	{% for item in items%}
	  <div class="col-sm-6 col-md-4">
	    <div class="thumbnail">
			{% if item.photo %}
	      <img src="{{ MEDIA_URL }}{{item.photo.url}}">
		    {% endif %}
	      <div class="caption">
	        <h3>{{item.name}}</h3>
	        <p>{{item.description}}</p>
			<h3>Price: {{item.price}}</h3>
			<h3>Rating: {{item.rating}}</h3>
	        <p>
				<form id="add_favorite_form">
					{% csrf_token %}
					<button id="fav" class='btn btn-primary' data-itemid="{{item.id}}" type="submit" value="Favorite">Favorite
					<span class="glyphicon glyphicon-thumbs-up"</span></a>
				</form>
			</p>
	      </div>
	    </div>
	  </div>
	  {% endfor %}
	</div>
		<!-- {% for item in items%}
		<article id="topContent">
			<div>
				<h1>{{ item.name }}</h1>
				<h1>{{ item.price }}</h1>
				<h1>{{ item.rating }}</h1>
				<h1>{{ item.description }}</h1>
				<h1>{{ item.photo }}</h1>
		</article>
		<h1> --------------- </h1>
		{% endfor %} -->

<!-- <button id="about-btn"> Click Me - I'm Javascript on Speed</button>

<p>This is a example</p>

<p>This is another example</p> -->
</body>
</html>
